/* CWA Stylesheet for local HTML files */

* {
	margin: 0;
	padding: 0;
}

html, body, table {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
	"Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

@supports (font: -apple-system-body) {
	html, body, table {
		font: -apple-system-body !important;
	}
}

/* Headlines & text */

h1 {
	font-size: 1.6470588235em;
	font-weight: bold;
}

h2 {
	font-size: 1.2941176471em;
	font-weight: bold;
}

h3 {
	font-size: 1.0em;
	font-weight: 600;
}

h4 {
	font-size: 1.0em;
	font-weight: 600;
	font-style: italic;
}

h5 {
	font-size: 1.0em;
	font-weight: normal;
	text-decoration: underline;
}

h1, h2, h3, h4, h5 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

a:link, a:visited {
	text-decoration: underline;
	color: #007fad;
}

p, ul {
	font-size: 1.0em;
	font-weight: normal;
}

span {
	font-size: 0.8823529412em;
	font-weight: normal;
}

/* Lists */

ol {
	list-style-type: decimal;
	list-style-position: outside;
}

li {
	padding-left: 0px;
	margin: 1em 2em;
}

p, ul{
	margin-bottom: 1em;
}
